*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.github
/.kotlin
/docs/temp
/docs/SleepIn-Docs/node_modules
# VuePress 默认临时文件目录
/docs/SleepIn-Docs/docs/.vuepress/.temp
# VuePress 默认缓存目录
/docs/SleepIn-Docs/docs/.vuepress/.cache
# VuePress 默认构建生成的静态文件目录
/docs/SleepIn-Docs/docs/.vuepress/dist
/.idea/deploymentTargetSelector.xml
/.idea/copilot.data.migration.ask2agent.xml
TODO.md